@media (prefers-color-scheme: dark) {
    html {
        background-color: #181a1b !important;
    }
    html, body, input, textarea, select, button {
        background-color: #181a1b;
    }
    html, body, input, textarea, select, button {
        border-color: #575757;
        color: #e8e6e3;
    }
    a {
        color: #3391ff;
    }
    table {
        border-color: #4c4c4c;
    }
    img {
        background-color: rgba(255, 255, 255, 0.5);
    }
    ::placeholder {
        color: #bab5ab;
    }
    ::selection {
        background-color: #005ccc;
        color: #ffffff;
    }
    ::-moz-selection {
        background-color: #005ccc;
        color: #ffffff;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        background-color: #545b00 !important;
        color: #e8e6e3 !important;
    }
    ::-webkit-scrollbar {
        background-color: #1c1e1f;
        color: #c5c1b9;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #2a2c2e;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #323537;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: #3d4043;
    }
    ::-webkit-scrollbar-corner {
        background-color: #181a1b;
    }
    * {
        scrollbar-color: #2a2c2e #1c1e1f;
    }
    .poll_chart {
        background: #3391ff;
    }
}
